@use '../mixins';

.tool{
    text-align: center;

    &__title{
        font-size: 2em;
        font-weight: 600;
        margin-bottom: .5em;
    }
}

.tools{
    margin: 4em 0;
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 3em;

    div{
        max-width: 400px;
    }

    &__title{
        margin: 2em 0 .5em;
        font-size: 1.5em;
        font-weight: 600;
    }
}

.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
