@media (max-width: 600px) {
    .container{
        width: 90%;
    }

    .container__min{
        width: 90%;
    }

    //botões do header e da section download
    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    //footer
    .footer{
        text-align: center;
        &__links{
            display: block;

            &__list{
                display: block;
                margin: 1em 0;
            }
        }
    }
}